@keyframes preloader-spin 
  from
    transform: rotate(-45deg)
  to
    transform: rotate(315deg)

@keyframes blink 
  0%
    opacity: 0

  50%
    opacity: 1

  100%
    opacity: 0

@keyframes show-up 
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes blink-color 
  0%
    background: $c-darker-yellow

  50%
    background: $c-orange-pending

  100%
    background: $c-darker-yellow

@keyframes logo-glow
  from
      box-shadow: 0 0 1rem 0.9rem $c-logo-glow

  to
      box-shadow: 0 0 2rem 1.4rem #1e88e5

