@import '../../../style/variables/variables'

.rewards-container
    width: 100%
    background: $c-rewards-container

    +xxl
        max-width: 24rem
        height: 100vh
        border-left: $b-section-line-break solid $c-white