@import "../../../../../style/variables/variables"

.rewards
  @include flex-center-center

  &__list
    display: flex
    flex-direction: column-reverse
    color: $c-yellow
    font-size: $s-secondary
    margin-bottom: 2.5rem