@import '../../style/variables/variables'

.logo
    position: relative
    width: 12rem
    height: 12rem
    margin: 4rem 0
    border-radius: 50%
    background: $c-square-dark-blue
    animation: logo-glow 2s both linear infinite alternate

    img
        position: absolute
        width: calc(100% + .8rem)
        left: -.4rem
        top: -.4rem