@import '../../../../../../../style/variables/variables'

.single-answer
  position: relative
  pointer-events: none

  +mdm
    position: static
    width: 50%

    &:nth-child(3)
      margin: 1.2rem 0 2.5rem 0

    .tile
      &__line-break-through
        display: none

    &:nth-child(2), &:nth-child(4)
      .tile
        &__line-break-through
          display: block
          left: 0

    &:nth-child(2)
      .tile
        &__line-break-through
          top: 4.5rem

    &:nth-child(4)
      .tile
        &__line-break-through
          top: 14.3rem

  +xxl
    .tile
      &__line-break-through
        width: 100%


  &:last-child
    margin: 1.2rem 0 2.5rem 0

  &__letter
    color: $c-orange

  &__button
    @include flex-center-center
    pointer-events: initial
    width: 100%
    height: 100%
    background: none
    border: none
    color: $c-white
    cursor: pointer
    padding: 0

    &:hover
      .tile
        &__triangle
          background: red
          box-shadow: 0 0.5rem 2rem 1.4rem $c-hover-blue-glow

          &:before, &:after
            box-shadow: 0 0 2rem 0.4rem $c-hover-blue-glow

  &--pending
    .tile
      &__children-wrapper, &__triangle--left, &__triangle--right
        background: $c-orange

  &--correct
    .tile
      &__children-wrapper, &__triangle--left, &__triangle--right
        background: $c-light-green-correct

  &--incorrect
    .tile
      &__children-wrapper, &__triangle--left, &__triangle--right
        background: $c-red-incorrect

  .tile
    &__triangle
      cursor: pointer
      pointer-events: initial

