@import "../../../style/variables/variables"

.tile
  width: 100%
  margin: 1.2rem 0

  &__inner
    position: relative
    height: 6.4rem
    margin: 0 4rem
    z-index: 2
    border-top: 0.5rem solid transparent
    border-bottom: 0.5rem solid transparent

  &__triangle
    @include tile-triangle

    &--left
      @include tile-triangle-left

    &--right
      @include tile-triangle-right

  &__children-wrapper
    @include flex-center-center
    position: absolute
    background: $c-question-answers
    border-top: 0.5rem solid $c-white
    border-bottom: 0.5rem solid $c-white
    border-radius: 0.05rem
    z-index: 2
    width: 100%
    height: calc(100% - 1rem)

  &__line-break-through
    position: absolute
    top: 2.8rem
    height: 0.8rem
    width: 100vw
    background: $c-white
