@import "../../../style/variables/variables"

.tile
  width: 100%

  &__inner
    position: relative
    height: 6.4rem
    margin: 0 4rem
    z-index: 2
    color: $c-white

  &__triangle
    +tile-triangle

    &--left
      +tile-triangle-left

    &--right
      +tile-triangle-right

  &__children-wrapper
    +flex-center-center
    position: absolute
    z-index: 2
    top: 0
    background: $c-question-answers
    border-top: 0.5rem solid $c-white
    border-bottom: 0.5rem solid $c-white
    border-radius: 0.05rem
    width: 100%
    height: calc(100% - 1rem)

  &__line-break-through
    position: absolute
    top: 2.8rem
    height: 0.8rem
    width: 100%
    background: $c-white
